
a:link {
	color: #bb4f4f;
	text-decoration: none;
}
a:visited {
	color: #e87b7b;
	text-decoration: none;
}
a:hover {
	color: #d3d3c6;
	text-decoration: none;
}
.style1 {
	color: #271b1b ;
    font-size: 15px;  
}
/* 字体样式 */
.style2 {color: #00FFFF; }
.style4 {color: #594949; font-weight: bold; }
/* 背景 */
.bj{
	background-color: rgb(69, 71, 73);
}
/* 图片样式 */
.tptp{
	text-align: center;
}
/* 背景图 */
body{
	width: 100%;
	height: 100%;
	background-image: url(../ice-cream/背景图6.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* 位置 */
.tt{
	position: absolute;
	top: 100px;
}