a:link {
	color: #b9651b;
	text-decoration: none;
}
a:visited {
	color: #a03f59;
	text-decoration: none;
}
a:hover {
	color: #88347a;
	text-decoration: none;
}
.style1 {
	color: #00FFFF;
	position: absolute;
	bottom: 0;
	left: 50%;
}
.style4 {color: #997f56;}
.wc{
	background-color: rgb(78, 81, 84);
}
/* 位置 */
.tt{
	position: absolute;
	top: 100px;
}
/* 背景图 */
body{
	width: 100%;
	height: 100%;
	background-image: url(../ice-cream/背景图11.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* 图片设置 */
.tptp{
	text-align: center;
	width: 200px;
	height: 300px;
}
/* 格式 */
.gs{
	position: absolute;
	top: 50%;
	left: 50%;
}